version: '3.8'
services:
  mongo:
    image: mongo:6
    ports: ['27017:27017']
    volumes:
      - mongo-data:/data/db
  redis:
    image: redis:7
    ports: ['6379:6379']
  app:
    build: ./server
    environment:
      - MONGO_URL=mongodb://mongo:27017/urlshortener
      - REDIS_URL=redis://redis:6379
      - BASE_URL=http://localhost:3000
      - PORT=3000
    ports:
      - '3000:3000'
    depends_on:
      - mongo
      - redis
volumes:
  mongo-data:
